**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/.env.local
**/appsettings.Production.json
**/logs
**/*.user
**/*.userosscache
**/*.suo
**/.DS_Store
**/Thumbs.db
**/README.md
**/LICENSE
**/docker-compose*.yml
**/railway.toml
**/.github
